/* =========================
   Google Font
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#FDF6EC;
    font-family:'Poppins',sans-serif;
}

/* ========================= */

.calculator-section{

    padding:80px 7%;
}

.container{

    max-width:1500px;
    margin:auto;
}

/* ========================= */

.calculator-section h1{

    text-align:center;
    font-size:62px;
    font-family:'Cormorant Garamond',serif;
    color:#5A2414;
    margin-bottom:15px;
}

.calculator-section h1 span{

    color:#D88C1A;
}

/* ========================= */

.subtitle{

    text-align:center;
    font-size:30px;
    color:#5E4635;
    margin-bottom:60px;
    font-weight:400;
}

/* ========================= */

.calculator-grid{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:28px;
}

/* ========================= */

.card{

    background:#FFF7ED;

    border:1px solid #D9A054;

    padding:28px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    transition:.35s;
}

/* Hover */

.card:hover{

    transform:translateY(-6px);

    box-shadow:0 12px 25px rgba(0,0,0,.08);
}

/* ========================= */

.left{

    display:flex;

    gap:22px;

    align-items:flex-start;
}

/* ========================= */

.icon{

    width:65px;

    height:65px;

    background:#FFF3E0;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:30px;

    color:#DD8C16;

    transition:.4s;
}

.card:hover .icon{

    background:#DD8C16;

    color:white;

    transform:rotate(12deg);
}

/* ========================= */

.content h3{

    font-size:36px;

    color:#55210F;

    font-family:'Cormorant Garamond',serif;

    margin-bottom:10px;
}

/* ========================= */

.content p{

    color:#555;

    font-size:18px;

    line-height:1.7;

    max-width:470px;
}

/* ========================= */

.btn{

    text-decoration:none;

    border:1px solid #6A4633;

    padding:16px 24px;

    color:#4F2415;

    font-size:18px;

    transition:.35s;

    white-space:nowrap;
}

.btn:hover{

    background:#55210F;

    color:white;
}

/* ========================= */

@media(max-width:1200px){

.content h3{

font-size:30px;

}

.subtitle{

font-size:24px;

}

}

/* ========================= */

@media(max-width:992px){

.calculator-grid{

grid-template-columns:1fr;

}

.card{

flex-direction:column;

align-items:flex-start;

gap:25px;

}

.btn{

width:100%;

text-align:center;

}

}

/* ========================= */

@media(max-width:600px){

.calculator-section{

padding:50px 20px;

}

.calculator-section h1{

font-size:42px;

}

.subtitle{

font-size:18px;

margin-bottom:40px;

}

.content h3{

font-size:28px;

}

.content p{

font-size:16px;

}

.icon{

width:55px;

height:55px;

font-size:24px;

}

}